/* -- custom css for file index.html -- */

/* -- page-content -- */
#page-contents-o-qoooqz993 {
	background-image: url("../../img/90502.jpg");
	 background-size: cover;
	 background-position: center center;
	 background-repeat: no-repeat;
	 background-color: rgba(0, 0, 0, 0);
	 background-attachment: fixed;
}

/* -- block custom-block text-center mb-0 pt-4 pb-4 -- */
#obj-czbxkn828 {
	border-top-width: 1px !important;
	 border-top-style: dashed !important;
	 border-top-color: transparent !important;
	 border-bottom-width: 1px !important;
	 border-bottom-style: dashed !important;
	 border-bottom-color: transparent !important;
}

/* -- list form ajax-submit form-ajax-submit mt-0 mb-0 pb-2 form-transluscent-input -- */
#obj-hsvruz466 {
	cursor: pointer;
	 background-color: rgb(0, 0, 0);
}

/* -- no-store-data -- */
#input-obj-hsvruz466-url {
	border-radius: 14px;
	 background-color: rgba(0, 0, 0, 0.98);
}

/* -- block custom-block mt-0 -- */
#obj-mqkesb689 {
	border-top-width: 1px !important;
	 border-top-style: dashed !important;
	 border-top-color: transparent !important;
	 border-bottom-width: 1px !important;
	 border-bottom-style: dashed !important;
	 border-bottom-color: transparent !important;
}

/* -- block custom-block block-text mb-2 text-center inset -- */
#obj-mtziei009 {
	font-size: 19px;
	 border-top-width: 1px !important;
	 border-top-style: dashed !important;
	 border-top-color: transparent !important;
	 border-bottom-width: 1px !important;
	 border-bottom-style: dashed !important;
	 border-bottom-color: transparent !important;
}

/* -- block custom-block text-center mt-0 -- */
#obj-ejcsnu210 {
	border-top-width: 1px !important;
	 border-top-style: dashed !important;
	 border-top-color: transparent !important;
	 border-bottom-width: 1px !important;
	 border-bottom-style: dashed !important;
	 border-bottom-color: transparent !important;
}

/* -- link -- */
#obj-bmdvzg124 {
	font-size: 18px;
}

